{% extends 'pages/base.html' %}
{% load static %}
<!doctype html>
<html lang="ru" class="h-100">

{% include 'inc/head.html' %}

<!-- Begin page content -->
{% block content %}

        <div class="row">
            <div class="col">
                <p>На данной страницы будут отображаться все созданные сниппеты.</p>
                <p>Пока тут пусто, скоро мы это исправим!</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-2">
                Список сниппетов:
                <ul>
                {% for snippet in snippets %}
                <li> {{ snippet.name }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>

{% endblock %}


<!-- Optional JavaScript -->

